body {
  background-color: rgb(34, 35, 49);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************************
 Header
*************************/
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 40px;
  text-align: center;
}

.header-text {
  color: #2a7f55;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  white-space: nowrap;
  width: 100%;
}

/************************
  Main Image
*************************/

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.hero-image {
  width: 100%;
  color: rgb(138, 220, 179);
}

/************************
 Button
*************************/
.button-container {
  text-align: center;
}

.start-button {
  color: #fff;
  border: #2a7f55 2px solid;
  background: #2a7f55;
  border-radius: 1em;
  margin-top: 30px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.start-button:hover {
  background: #a0ffcf;
}

/************************
 Features
*************************/

.main-content-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-features-container {
  display: flex;
  align-items: center;
  margin: 10px 15px 20px;
  flex-direction: column;
  flex-wrap: wrap;
}

.feature-container,
.app-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 2px solid #2a7f55;
  border-radius: 1em;
  padding: 10px;
}

.features-description-container {
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}

.features-description-container {
  color: white;
}

/************************
 Icons
*************************/

.focus-icon,
.giphy-icon,
.timer-icon,
.information-icon {
  color: rgb(138, 220, 179);
  border: none;
}

.icon-description {
  color: #2a7f55;
  font-size: 1em;
  width: 100%;
  height: 100%;
  align-self: center;
  display: block;
  margin-top: 10px;
}

/************************
 Description of App
*************************/

.app-information-container {
  text-align: center;
  margin: 10px 15px 20px;
}

.app-information-text {
  font-size: 1em;
  color: #fff;
}

@media only screen and (min-width: 640px) {
  .main-features-container {
    flex-direction: row;
  }

  .feature-container {
    width: 50%;
  }

  .header-text {
    font-size: 5em;
  }

  .icon-description {
    font-size: 1em;
  }
}

@media screen and (min-width: 960px) {
  .feature-container {
    width: 33.33%;
  }

  .main-features-container {
    margin-bottom: 40px;
  }
  .icon-description {
    font-size: 1.5em;
  }

  .app-information-text {
    font-size: 2em;
  }
}
