body {
    background: url(images/woods-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.main-header{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight:  300;
    line-height: 100%;
    font-size: 80px;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    background: rgba(0, 0, 0, 0.5);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer-section{
    background: rgba(0, 0, 0, 0.5);
}

.focus-section{
    background: rgba(0, 0, 0, 0.5);
}

.giphy-section{
    background: rgba(0, 0, 0, 0.5);
}

.timer-icon{
    background: transparent;
    color: #fff;
    border: none;
}

.giphy-icon{
    background: transparent;
    color: #fff;
    border: none;
}

.focus-icon{
    background: transparent;
    color: #fff;
    border: none;
}

.icon-description{
    color: #fff;
}
