body {
  background-color: rgb(138, 220, 179);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************************
 Header
*************************/
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 70%;
  font-size: 3em;
  text-align: center;
  white-space: nowrap;
}

/************************
  Main Image
*************************/

.task-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-image {
  max-width: 100%;
  color: #fff;
}

/************************
 About App
*************************/

.about-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px 20px;
  flex-direction: column;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/************************
 Icons
*************************/

.timer-section,
.focus-section,
.giphy-section,
.description {
  border: 2px solid #2a7f55;
  border-radius: 1em;
  padding: 23px;
  margin: 10px;
}

.timer-section,
.focus-section,
.giphy-section {
  /* width: 33.33%; */
  width: 80%;
}

.timer-icon {
  background: transparent;
  color: #fff;
  border: none;
}

.giphy-icon {
  background: transparent;
  color: #fff;
  border: none;
}

.focus-icon {
  background: transparent;
  color: #fff;
  border: none;
}

/* .description-container {
  position: absolute;
  bottom: 5px;
} */

.icon-description {
  color: #fff;
  white-space: nowrap;
  font-size: 1em;
  width: 100%;
  height: 100%;
}

.document-icon {
  background: transparent;
  color: #fff;
  border: none;
}

/************************
 Description of App
*************************/

.description {
  margin: auto;
  color: #fff;
  text-align: center;
  width: 50%;
}
.document-icon {
  display: block;
}
.button-container {
  text-align: center;
}

.start-button {
  color: #fff;
  border: #2a7f55 2px solid;
  background: #2a7f55;
  border-radius: 1em;
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  height: 100%;
}

.start-button:hover {
  background: #a0ffcf;
}

.description-text {
  font-size: 1.5em;
}

@media (max-width: 500px) {
  .description {
    width: 90%;
  }
}

@media only screen and (min-width: 640px) {
  .features-container {
    flex-direction: row;
  }

  .timer-section,
  .focus-section,
  .giphy-section {
    width: 33.33%;
  }

  .header-text {
    font-size: 5em;
  }

  .icon-description {
    font-size: 1em;
  }
}

@media screen and (min-width: 900px) {
  .features-container {
    margin-bottom: 40px;
  }
  .icon-description {
    font-size: 1.5em;
  }

  .description-text {
    font-size: 2em;
  }
}
